################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisualWrappers/Computing/node_modules
/VisualWrappers/Computing/ZenEngine
/VisualWrappers/Computing/computing-win32-x64
