   * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    background: #26292c;
    font-family: "montserratregular";
    height: 100%;
  }

  #zeno-edge{
    height: 100%;
  }

  ul {
    margin: 0px;
  }

  table.table {
    font-weight: normal;
  }

  label {
    outline: none !important;
  }


  /* hide number*/

  tspan.line+tspan.line {
    display: none;
  }

  .showcase-title {
    position: relative;
    float: right;
  }

  .showcase-title:before {
    border-right: 2px solid #4c5258;
    width: 52px;
    height: 32px;
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: -66px;
    background: url(../img/exchange.svg) no-repeat top left;
    background-size: contain;
  }

  .headline {
    float: left;
  }

  .logo {
    float: left;
    display: block;
    height: 32px;
    width: 166px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
    border-right: 2px solid #4c5258;
    background: url("../img/zenodys-logo.png") no-repeat;
    background-size: contain;
  }

  .header {
    height: 64px;
    line-height: 64px;
    background: #26292c;
    margin: 0px auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    padding: 0 15px;
    box-shadow: 0px 1px 3px 0px rgba(52, 56, 60, 0.12);
  }

  table.table td,
  table.table th {
    height: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
  }

  .gridster {
    position: relative;
    margin: 0 auto;
    transition: opacity 0.6s;
  }

  .gridster>* {
    transition: height 0.4s, width 0.4s;
  }

  .gridster .gs-w {
    z-index: 2;
    position: absolute;
  }

  .gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
  }

  .gridster .player-revert {
    z-index: 10 !important;
    transition: left 0.3s, top 0.3s !important;
  }

  .gridster.collapsed {
    height: auto !important;
  }

  .gridster.collapsed .gs-w {
    position: static !important;
  }

  .ready .gs-w:not(.preview-holder) {
    transition: opacity 0.3s, left 0.3s, top 0.3s;
  }

  .ready .gs-w:not(.preview-holder),
  .ready .resize-preview-holder {
    transition: opacity 0.3s, left 0.3s, top 0.3s, width 0.3s, height 0.3s;
  }

  .gridster .dragging,
  .gridster .resizing {
    z-index: 10 !important;
    transition: all 0s !important;
  }

  .gs-resize-handle {
    position: absolute;
    z-index: 1;
  }

  .gridster .card-content {
    padding: 0px;
    margin-top: 2px;
    height: calc(100% - 50px);
    overflow: hidden;
  }

  .gs-resize-handle-both {
    width: 20px;
    height: 20px;
    bottom: -8px;
    right: -8px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20;
  }

  .gs-resize-handle-x {
    top: 0;
    bottom: 13px;
    right: -5px;
    width: 10px;
    cursor: e-resize;
  }

  .gs-resize-handle-y {
    left: 0;
    right: 13px;
    bottom: -5px;
    height: 10px;
    cursor: s-resize;
  }

  .gs-w:hover .gs-resize-handle,
  .resizing .gs-resize-handle {
    opacity: 1;
  }

  .gs-resize-handle,
  .gs-w.dragging .gs-resize-handle {
    opacity: 0;
  }

  .gs-resize-disabled .gs-resize-handle {
    display: none !important;
  }

  [data-max-sizex="1"] .gs-resize-handle-x,
  [data-max-sizey="1"] .gs-resize-handle-y,
  [data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none !important;
  }


  /* Uncomment this if you set helper : "clone" in draggable options */

  .gridster .player {
    opacity: 0.7;
  }


  /**/

  .gridster .gs-w {
    background: #61a9cf;
    cursor: -webkit-grab;
  }

  .gridster .player {
    background: #bbb;
  }

  .gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;
  }

  .gridster .preview-holder {
    border: none !important;
    border-radius: 0 !important;
    background: red !important;
  }

  .gridster ul {
    /*  background-color: #efefef;*/
    background-color: #26292c;
  }

  .gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
  }

  ul {
    list-style-type: none;
  }

  li {
    list-style: none;
    font-weight: bold;
  }

  .gridster-box {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .controls {
    margin-bottom: 20px;
  }


/*# sourceMappingURL=demos/assets/css/demo.css.map
*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.gs-w .card {
  height: 100%;
}

.gs-w .card .card-header-title {
  font-family: "montserratregular";
  font-size: 17px;
  color: rgba(68, 68, 68, 0.87);
  opacity: 1;
  font-weight: normal;
  text-align: center;
  /* font-weight: 500; */
  /* font-size: 16px; */
  letter-spacing: 0px;
}

[data-title="Save and edit plot in cloud"],
.modebar-btn.plotlyjsicon.modebar-btn--logo {
  display: none !important;
}

.modebar {
  width: 330px !important;
  left: 50% !important;
  top: 48px !important;
  margin-left: -165px !important;
}

.gauge-value {
  position: absolute;
  display: block;
  top: 54px;
  left: 50%;
  z-index: 3;
  width: 254px;
  margin-left: -128px;
  font-size: 30px;
  font-family: "montserratlight";
  font-weight: 200;
  text-align: center;
}

.difference{ margin-left: 15px; font-size: 14px; font-weight: bold;
  position:relative; top: 4px;   font-family: "montserratregular";
  text-align: left; display: inline-block; }

  g.layer-above {
    transition: transform 0.25s ease-in-out;
    transform-style: preserve-3D;
    transform-origin: center right;
  }


  /*Work around for devices less than 768px*/
  @media screen and (max-width: 767px) {
    .headline{ display: none; }
    .showcase-title{display:none;}

    .gridster > * {
      padding: 0;
      width: 100% !important;
    }

    .gridster.ready{padding: 10px;height: 100%;}

    .gridster .gs-w {
      list-style: none;
      left: auto !important;
      top:auto !important;
      display: block !important;
      float: none !important;
      position: relative !important;
      margin-bottom:10px;
    }

    .modebar{ display: none; }

    .gridster .card-content{
      width: 100% !important;
    }

    .gridster .gs-w[data-sizex="1"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="1"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="2"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="2"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="3"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="3"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="4"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="4"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="5"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="5"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="6"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="6"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="7"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="7"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="8"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="8"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="9"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="9"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="10"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="10"] {
      left: 0%!important;
    }
    .gridster .gs-w[data-sizex="11"] {
      width: 100%!important;
    }
    .gridster .gs-w[data-col="11"] {
      left: 0%!important;
    }
  }